.page {
  font-family: var(--font-Inter), sans-serif;
  background-image:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  min-inline-size: 320px;
  background-attachment: fixed;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-main);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--width-block);
  margin-inline: auto;
  margin-block: 100px 100px;
  border: 2px solid #000;
  padding-block: clamp(120px, 117.18px + 0.75vw, 128px);
  background-color: #fff;
}

.header__title {
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block: 0 100px;
}

.card {
  width: var(--width-block);
  margin-inline: auto;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  font-variation-settings: "wght" var(--font-main);
  padding-inline: 10px;
  padding-block: 4px;
  color: #000;
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.2;
}

.card__text {
  font-variation-settings: "wght" var(--font-Inter-text);
  color: #000;
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 1.17;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card_button-container {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  border: 2px solid #000;
  padding: 0px;
  background: none;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background: none;
  transition: 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  padding: 0;
  color: white;
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__img-container {
  position: relative;
}

.img__label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: #000;
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .img__label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.button__diskate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  border: 2px solid #000;
  padding-inline: 20px;
  padding-block: 17px;
  background: #fff;
}

.button__diskate-text {
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.svg__diskate-open {
  min-width: 39px;
  height: auto;
}

.button__diskate-span {
  font-family: var(--font-secondary), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button__diskate-dialog {
  max-height: 38px;
  border: 2px solid #000;
  padding-block: 12.5px;
  text-transform: uppercase;
  background: #fff;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 353px;
  padding-inline: 40px;
  padding-block: 30px;
}

.dialog__container {
  display: flex;
  gap: 20px;
}

.filter-contrast {
  filter: contrast(20%);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(170%);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-sepia-brightness {
  filter: sepia(1) brightness(200%);
}

.button {
  position: relative;
  box-shadow: 0px 0px 0 0 transparent;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 #000;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: black;
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: black;
  transition-delay: 0.5s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.5s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.5s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s 0.6s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s 1 ease-in;
}

.like-icon {
  transform-origin: center;
}

@media (width>=1440px) {
  .button__diskate {
    flex-direction: row;
  }
  .svg__diskate-close {
    max-width: 21px;
    height: auto;
  }
  .dialog[open] {
    padding-inline: 30px;
  }
}
